/* =============================
			Base				
============================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	font-size: clamp(14px,2vw,28px);
}
body {
	padding: 1rem 0;
	font-family: "Mitr", sans-serif;
}
.nobreak {
	white-space: nowrap;
}

/* =============================
			Layout				
============================= */
.box {
	padding: 0.5rem;
	border: 0.3rem solid #000;
	border-radius: 1.5rem;
	box-shadow: 0 6px #000;
	position: relative;
}
header, main {
	width: 85%;
	max-width: 1000px;
	margin: 0 auto 1rem auto;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}
.textSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.7rem;
}

/* =============================
			Titles				
============================= */
h1 {
	color: #000;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
}
h2 {
	color: #000;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.3;
	width: fit-content;
	border-bottom: 0.3rem solid #000;
	border-radius: 0.3rem;
	padding: 0 1ch 0 1ch;
	margin: 0 auto 0.5rem auto;
}

/* =============================
			Texts				
============================= */
p {
	color: #000;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.1;
}
code {
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	background-color: #000;
	border-radius: 0.5rem;
	color: #FFF;
	font-family: "Roboto Mono", monospace;
	font-size: 0.7rem;
}
#lastLine {
	color: #555;
	font-size: 0.5rem;
	font-weight: 300;
	text-align: center;
	line-height: 1.2;
}
.note {
	color: #000;
	position: relative;
	padding-left: 1ch;
	font-size: 0.8rem;
	font-weight: 400;
}
.note::before {
	position: absolute;
	content: "*";
	font-size: 1.1rem;
	left: 0;
}

/* =============================
			Buttons				
============================= */
#langButton {
	color: #FFF;
	font-family: "Readex Pro", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	position: absolute;
	right: 0.5rem;
	background-color: #000;
	border-radius: 10px;
	padding: 7px;
}

/* =============================
			Icons				
============================= */
#accounts {
	width: 13ch;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.account svg {
	color: #000;
	width: 3rem;
	height: 3rem;
}

/* =============================
			Posts				
============================= */
.posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 0.7rem;
}
.post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
}
.post h3 {
	color: #000;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1;
}
.post p {
	color: #000;
	font-size: 0.7rem;
	font-weight: 400;
	text-align: center;
}

/* =============================
			List				
============================= */
dl {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.3rem;
	margin: 0.5rem 1rem 0 1rem;
}
dt {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.1;
}
dd {
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 1.1;
	margin-left: 1.5rem;
}

/* =============================
			Mobile				
============================= */
@media (max-width: 530px) {
	code {
		white-space: nowrap;
		overflow-x: auto;
	}
	html[lang="en"] h1 {
		line-height: 1;
	}
}

/* =============================
			Arabic				
============================= */
html[lang="ar"] body {
	font-family: "Readex Pro", sans-serif;
}
html[lang="ar"] #langButton {
	font-family: "Mitr", sans-serif;
}
html[lang="ar"] h1 {
	line-height: 1.5;
}
html[lang="ar"] h2 {
	line-height: 1.8;
}
html[lang="ar"] p {
	line-height: 1.8;
}
html[lang="ar"] .note {
	padding-right: 1.5ch;
}
html[lang="ar"] .note::before {
	content: "*";
	right: 0;
}
html[lang="ar"] dt {
	line-height: 1.8;
}
html[lang="ar"] dd {
	margin-left: 0;
	margin-right: 1.5rem;
}
